@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fuente-principal;
  background-color: $color-fondo;
  overflow-x: hidden;
 
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}