@use "./_variables.scss" as *;


@media (min-width: 0px) and (max-width: $mobile) {

  header {
    flex-direction: column;

    h1 {
      margin-top: 10px;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .linksCaja {
    width: 100%;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .MainGridIndex {
  grid-template-areas:
    "img1"
    "titulo"
    "img2"
    "subtitulo"
    "img3"
    "p1";

  grid-template-columns: 100%;
  grid-template-rows: auto;
  }

  .fotoGrid1,
  .fotoGrid2,
  .fotoGrid3 {
    width: 70%;
    max-width: 200px;
    height: auto;
  }

  
.video-convenio {
    width: 100%;
    height: auto;
  }

.noticia {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
footer {
    flex-direction: column;
  img {
      width: 4em;
      height: 4em;
    }
  }

}

@media (min-width: 481px) and (max-width: $tablet) {

/* no hay muchos cambios para hacer ya que el diseño es bastante flexible, pero se pueden ajustar algunos tamaños */

  header img {
    width: 55px;
    height: 55px;
  }

  
  .MainGridIndex {
    grid-template-areas:
      "img1 titulo"
      "img2 subtitulo"
      "img3 p1";

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

}

