@use "./_variables.scss" as *;
/* ================= MOBILE ================= */
/* hasta 768px */
@media (max-width: 768px) {

  /* ===== NOTICIAS ===== */
  .noticia {
    flex-direction: column;
    gap: 1rem;
  }

  .noticia-img,
  .noticia-texto {
    width: 100%;
  }

  .noticia h2 {
    font-size: 1.2rem;
  }

  .noticia p {
    font-size: 0.9rem;
  }

  /* ===== INDEX ===== */
  .intro,
  .imagenes {
    flex-direction: column;
  }

  .intro img,
  .intro-texto,
  .imagenes img {
    width: 100%;
  }

  /* ===== CONVENIOS ===== */
  .convenio {
    flex-direction: column;
  }

  .convenio-texto,
  .convenio-video {
    width: 100%;
  }

  /* ===== CREDENCIAL ===== */
  .credencial {
    flex-direction: column;
  }

  .credencial-info,
  .credencial-formulario {
    width: 100%;
  }

  /* ===== DONDE ===== */
  .ubicacion-grid {
    grid-template-columns: 1fr;
  }

  /* ===== GENERAL ===== */
  .main-container {
    padding: 1rem;
  }

  /*CREDENCIALES*/
  .credenciales-track {
    flex-direction: column;
  }

  .credenciales-track img {
    width: 100%;
  }

}


/* ================= TABLET ================= */
/* 769px a 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

  /* ===== NOTICIAS ===== */
  .noticia {
    gap: 1.5rem;
  }

  .noticia h2 {
    font-size: 1.4rem;
  }

  .noticia p {
    font-size: 1rem;
  }

  /* ===== GENERAL ===== */
  .main-container {
    padding: 1.5rem;
  }


}