

@use "../partials/variables" as *;

main {
  flex-grow: 1;
  background-color: $color-fondo;
  color: $color-texto;
  

  section {
    padding-bottom: 2%;
  }

  img {
  max-width: 100%;
  height: auto;
  display: block;
  }
}

.mainIND {
  background-image: url("../img/fondoarg.jpg");
  background-size: cover;
  background-position: center;
}

.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}


.intro {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.intro img {
  width: 50%;
}

.intro-texto {
  width: 50%;
  text-align: center;
}

.imagenes {
  display: flex;
  gap: 2rem;
}

.imagenes img {
  width: 50%;
}


/* BLOQUE PRINCIPAL */
.convenio {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.convenio-texto {
  width: 60%;
}

.convenio-video {
  width: 40%;
}

.convenio-video iframe {
  width: 100%;
  height: 250px;
  border: none;
}

/* SEGUNDO BLOQUE */
.convenio-simple {
  max-width: 800px;
}


/* LAYOUT PRINCIPAL */
.credencial {
  display: flex;
  gap: 3rem;
  align-items: center;
}

/* TEXTO */
.credencial-info {
  width: 50%;
}

/* FORM */
.credencial-formulario {
  width: 50%;
}

/* CAMPOS */
.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.campo input {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

/* BOTÓN */
button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: #5F7486;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}


/* GRID PRINCIPAL */
.ubicacion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* MAPA */
.ubicacion-mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/* TEXTO */
.ubicacion-texto {
  margin: 2rem 0;
}

/* ===== CONTENEDOR GENERAL ===== */
.noticias {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

/* ===== BLOQUE NOTICIA ===== */
.noticia {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 40px;
}

/* imagen */
.noticia-img {
  width: 50%;
}

.noticia-img img {
  width: 100%;
  display: block;
}

/* texto */
.noticia-texto {
  width: 50%;
}

/* GALERIA DE CREDENCIALES GENERICAS */

.credenciales-galeria {
  overflow: hidden;
  margin-top: 2rem;
}

.credenciales-track {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.credenciales-track img {
  width: 70%;
  height: auto;
  object-fit: cover;
}