
/* ================= MAIN ================= */

@use "../partials/variables" as *;

main {
  flex-grow: 1;
  background-color: $color-fondo;
  color: $color-texto;
  text-align: center;

  section {
    padding-bottom: 2%;
  }
}

.mainIND {
  background-image: url("../img/fondoarg.jpg");
  background-size: cover;
  background-position: center;
}
/* ================= GRID ================= */

.MainGridIndex {
  display: grid;

  grid-template-areas:
    "img1 titulo"
    "img2 subtitulo"
    "img3 p1";

  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;

  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  gap: 20px;
}

.fotoGrid1,
.fotoGrid2,
.fotoGrid3 {
  width: 200px;
  height: 200px;

  object-fit: cover;
  object-position: center;

  border-radius: 10px;
}

.titGrid { grid-area: titulo; width: 100%; }
.subGrid { grid-area: subtitulo; width: 100%; }
.p1Grid { grid-area: p1; width: 90%; }
/* ================= GRID DONDE ================= */

.GridDonde {
  display: grid;

  grid-template-areas:
    "seccion preguntas"
    "iframe iframe"
    "parrafoDndGrid parrafoDndGrid";

  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  justify-content: center;
  justify-items: center;

  gap: 5px;
}

.seccionGrid { grid-area: seccion; width: 100%; height: auto; }

.parrafoDndGrid { grid-area: parrafoDndGrid; width: 100%; height: auto; }

.preguntasGrid { grid-area: preguntas; width: 100%; height: auto; }

.iframeGrid { grid-area: iframe; width: 100%; height: auto; }

/* ================= GRID CREDENCIALES ================= */

.GridCredenciales {
  display: grid;

  grid-template-areas:
    "foto seccion"
    "foto2 seccion2";

  grid-template-columns: 60% 40%;
  grid-template-rows: auto;

  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  gap: 20px;
}


.fotoCred1 { grid-area: foto; width: 90%; height: auto; padding:20px; }
.fotoCred2 { grid-area: foto2; width: 90%; height: auto;padding:20px; }
.seccionCred1 { grid-area: seccion; width: 100%; height: auto; }
.seccionCred2 { grid-area: seccion2; width: 100%; height: auto; }
